@font-face {
  font-family: 'Atma';
  src: url('./Atma-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Atma';
  src: url('./Atma-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atma';
  src: url('./Atma-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Atma';
  src: url('./Atma-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Atma';
  src: url('./Atma-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
